doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title soutenance-ei5

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        h1 soutenance-ei5

      section
        h1 Sommaire

      section
        h2.bullet La startup
        div.bullet
          h4 Flexybeauty
          br
          h4  Le projet
          br
          h4 Ma participation

      section
        h2.bullet Techniquement parlant...
        div.bullet
          h4 AngularJs
          br
          h4 Les statistiques
          br
          h4 Et aussi...

      section
        h2.bullet Et moi dans tout ça...
        div.bullet
          h4 Changement d'avis
          br
          h4 Expérience acquise
          br
          h4 Et la suite...

      section
        h2.bullet Introduction
        div.bullet
          h4 Nouvelle orientation
          br
          h4 Suite logique
          br
          h4 Risquée
          br
          h4 Motivation
          br
          h4 Voila

      section
        h2 Syntax Highlighting
        h3 Powered by <a href="http://twitter.com/LeaVerou">Lea Verou</a>'s <a href="https://github.com/LeaVerou/prism">Prism</a>
        pre
          code.language-javascript.
            bespoke.from('article', [
              classes(),
              keys(),
              touch(),
              bullets('li, .bullet')
            ]);

    script(src='build/build.js')