doctype html
html
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		title soutenance-ei5

		link(rel='stylesheet', type='text/css', href='build/build.css')

	body

		article

			section
				h1 Stage Ei5
				h2 Front end - AngularJs
				h3 Mathieu Deumié
				img(src='images/istia.jpg').istia-img
				img(src='images/flexy.png').flexy-img

			section
				h2 Sommaire
				br
				ul
					li
						h3 I - La startup
					li
						h3 II - Techniquement parlant
					li
						h3 III - Et moi dans tout ça

			section
				h2 Introduction
				ul
					li Nouvelle orientation: startup
					li Risque: niveau technique
					li Suite logique: AngularJs
					li Motivation
			//
				. après stage ei4
				. Web JS avec AngularJs : ei4 / projet domotique ei5 / stage ei5 / job derrière ?
				. Risque technique : auto formé l’année passée / si je n’ai pas le niveau = flop – désillusion
				. Seule motivation par rapport au JavaEE / Android etc… / coté graphisme - visuel

			section
				h2 La startup
				ul
					li a. Le projet: ce qu'est FlexyBeauty
					li b. La bonne recette ?
					li c. Ma participation

			section
				h3 a. Le projet
				ul
					li Leur cible : marché de la beauté
					li Solution SaaS de réservation de ligne
						ul
							li Agenda
							li Site web
							li Outil de caisse
			//
				. Leurs cibles sont : instituts de bien-être, centre de spa, mais aussi coiffeurs, et d’autre divers tels bar à ongles
				. L’application permet aux institus de proposer à leurs clients de réserver des prestations en ligne via un site web paramétrable généré automatiquement
				. Gérer ensuite ces prestations grâce à un agenda connecté, et même
				. De gérer l’encaissement de leur client via un outil de caisse (imprime un ticket)
				. Installé sur des serveur distants plutôt que su rmachine / pas de licences mais abo mensuel – gratuit
				. C’est la livraison conjointe de moyens, de services et d'expertise qui permettent aux entreprises d'externaliser intégralement un aspect de leur système d'information (messagerie, sécurité…) et de l'assimiler à un coût de fonctionnement plutôt qu'à un investissement.

			section
				img(src='images/screenshots/agenda.png').screenshots
			section
				img(src='images/screenshots/caisse.png').screenshots
			section
				img(src='images/screenshots/site.png').screenshots

			section
				h3 a. Le projet
				ul
					li Business plan « à la mode »
					li Solution SaaS : Software as a Service
					li Technologies de pointe
					li Multi plateforme
			//
				. Sans engagement / mois gratuit / flexible (d’ou le nom) résilier l’un pour l’autre, ajout d’un autre module etc…
				. Application pensée pour être utilisée sur tous types de devices
				(mobile, tablette, ordi, tout tactile, responsive)
				. AngularJs – Google AppEngine (du SaaS basé sur du PaaS (Platform as a Service))


			section
				h3 b. La bonne recette ?
				ul
					li Jeune
					li Sérieuse
					li Motivée
					li Complémentarité
					li Équipe soudée
			//
				. Ses membres et dans esprit
				. Surpris par les débats très pointus et précis sur tels ou tels aspects de l’application, ses implications, ses conséquences => du à leur expérience personnelle
				. Nombres d'heures de travail
				. Multi compétences
				. Deux amis de longues dates (collège/lycée) / avance à deux sur tous les plans / communication ultra importante (pas les même locaux)


			section
				h3 c. Ma participation
				ul
					li Méthodes Agiles
					li 3 phases évolutives
					li
						img(src='images/phases.png').phases-img
			//

			section
				h3 c. Ma participation
				ul
					li Tâche longue durée
					li Cycle de développement d’un projet
					li
						img(src='images/cycle.png').cycle-img

			section
				h3 Détails module statistiques
			section
				img(src='images/screenshots/dashboard.png').screenshots
			section
				img(src='images/screenshots/analyse_ca.png').screenshots
			section
				img(src='images/screenshots/analyse_personel.png').screenshots


			section
				h2 Techniquement parlant
				ul
					li a. AngularJs
					li b. Les statistiques
					li c. Et aussi...

			section
				h3 a. AngularJs
				ul
					li Historique
					li Approche innovante
					li Libre et open-source
					li Basé sur JQuery Lite
				div.
					à mettre sur la gauche avec omg angulaires et JQuery a droite

			section
				h3 a. AngularJs
				ul
					li MVC
					li Concept
				div.
					schéma a droite

			section
				h3 b. Les statistiques
				ul
					li Mission principale
					li Google Chart
					li d3Js
				div.
					schema comparatif entre GChart et d3Js + lien vers démo d3

			section
				h3 b. Les statistiques
				ul
					li Intégration
					li Format SVG
					li Le but des statistiques

			section
				h3 c. Et aussi...
				ul
					li NPM (Node Package Manager)
					li Github
					li Grunt / Gulp
					li Yeoman
				div.
					+ logos

			section
				h2 Et moi dans tout ça...
				ul
					li a. Changement d'avis
					li b. Expérience acquise
					li c. La suite ?

			section
				h3 a. Changement d'avis
				ul
					li Abandon master spécialisé
					li Responsabilité
					li Convaincu de l’expérience
					li Multi-compétence nécessaire
					li Approfondir

			section
				h3 b. Expérience acquise
				ul
					li Expérience technique
					li Plan humain
						ul
							li Startup et rapport client
					li Envie entrepreneuriale partagée

			section
				h3 c. Et ensuite
				ul
					li Premier job chez SFEIR
						ul
							li Mission chez M6
					li Nouveau statut : junior dev
					li Curieux

			section
				h3 c. Et ensuite
				ul
					li Créer sa propre aventure startup
					li Envie de manager
					li Découvrir le côté métier / fonctionnel

			section
				h2 Conclusion
				ul
					li Web = avenir
					li Expérience en startup
					li Motivation nouvelle
					li Maturité
					li Entrepreneuriat

			section
				h2 Merci pour votre attention

		script(src='build/build.js')